

div {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    text-align: center;
}

.imagen {
  max-width: 300px;
 height: 100%;
  margin: 10px;

}
  #que{
    background-color: var(--surface-a);
  }
  #donde{
    background-color: var(--surface-c);
  }
