
div{
    background-color:var(--surface-d);
    text-align: center;
}
.p-col{
    cursor: pointer;
}


.fill {
  min-height: 100%;
  height: 100%;
}
.coloreado{
  background-color: var(--surface-c);
}
