.imagenDeMenu{
width: 80px;
height: 70px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    }

div{
    background-color:#EBEBEC;
    color:#636669;
}



.fill {
  min-height: 100%;
  height: 100%;
}
