<app-cabecera>  </app-cabecera>




<div class="p-grid p-flex-column">

    <div class="p-col p-m-3 coloreado"

        routerLink="/Juegos">


                <h4>Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>



      </div>
      <div class="p-col p-m-3 coloreado" routerLink="/Listado">

                  <h4>Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>

        </div>
        <div class="p-col p-m-3 coloreado"  routerLink="/Juegos">

                <h4 >Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>


      </div>
      <div class="p-col p-m-3 coloreado"  routerLink="/Jugadores">

                <h4 >Jugadores</h4>
                <p>Listado de jugadores</p>

      </div>
</div>
