<div class="p-grid p-mt-2" >
<p-card header="Velocidad y agilidad aritmética" subheader="Juego de agilidad mental"  styleClass="p-card-shadow  p-col p-shadow-4 p-m-5">
    <p-header>
        <img alt="Card" src="./assets/imagenes/cerebro.jpg">
    </p-header>
    <p>UTN FRA</p>
    <ng-template pTemplate="footer">
      <button pButton label="Jugar" class=" button "  (click)="Juego('Agilidad')"></button>
    </ng-template>
</p-card>
<p-card header="Piedra Papel o Tijera" subheader="Juega contra la máquina" styleClass="p-card-shadow p-col p-shadow-4 p-m-5" >
  <p-header>
      <img alt="Card" src="./assets/imagenes/ppt.jpg">
  </p-header>
  <p>UTN FRA</p>
  <ng-template pTemplate="footer">
    <button pButton label="Jugar" class=" button "  (click)="Juego('PPT')"></button>
  </ng-template>
</p-card>
<p-card header="Adivina el número secreto" subheader="Juego de estrategia" styleClass="p-card-shadow p-col p-shadow-4 p-m-5">
  <p-header>
      <img alt="Card" src="./assets/imagenes/adivina.jpg">
  </p-header>
  <p>UTN FRA</p>
  <ng-template pTemplate="footer">
    <button pButton label="Jugar" class=" button "  (click)="Juego('Adivina')"></button>
  </ng-template>
</p-card>

</div>
