<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
 </div>

<button pButton *ngIf="!nuevoJuego.jugando " (click)="generarnumero()" label="Nuevo número secreto" class="btn btn-info btn-lg"></button>
<form name="juego" *ngIf="nuevoJuego.jugando " autocomplete="off">
  <span class="p-float-label" *ngIf="!nuevoJuego.gano">

    <p-inputNumber id="inputtext" placeholder="Ingrese el numero aquí"  class="p-inputnumber-lg"  name="numeroIngresado" [(ngModel)]="nuevoJuego.numeroIngresado" ></p-inputNumber>

  </span>

   <h3>Ultimo numero ingresado: {{ultimoNumero}}  </h3>




    <button pButton *ngIf="!nuevoJuego.gano" (click)="verificar()" label="Verificar numero"class="btn btn-success btn-lg"></button>


    <button pButton *ngIf="nuevoJuego.gano " (click)="generarnumero()" label="Nuevo número secreto" class="btn btn-info btn-lg"></button>





</form>
<h3 [hidden]="!nuevoJuego.gano">Ha ganado en {{contador}} jugadas</h3>
<div id="snackbar">{{Mensajes}}</div>
