<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->


<form name="juego" autocomplete="off">
  <div class="p-field ">
    <div>
    <label for="numero1">Primer número:</label>
  </div>
    <p-inputNumber inputId="numero1" [(ngModel)]="nuevoJuego.numeroSecreto1" [ngModelOptions]="{standalone: true}" disabled>
    </p-inputNumber>

  </div>
  <div class="p-field ">
    <div><label for="operador">Operador:</label></div>
    <input inputId="operador"type="text" pInputText  [(ngModel)]="nuevoJuego.operadorSecreto" [ngModelOptions]="{standalone: true}" disabled>


  </div>
  <div class="p-field ">
    <div><label for="numero2">Segundo número:</label></div>
    <p-inputNumber inputId="numero2" [(ngModel)]="nuevoJuego.numeroSecreto2" [ngModelOptions]="{standalone: true}" disabled>
    </p-inputNumber>


  </div>
  <div class="p-field ">
    <div><label for="numingresado">Ingrese el resultado aquí:</label></div>
    <p-inputNumber inputId="numingresado" [(ngModel)]="nuevoJuego.numeroIngresado" [ngModelOptions]="{standalone: true}" >
    </p-inputNumber>


  </div>



  <div [hidden]="ocultarVerificar">
    <h2>Tiempo:{{Tiempo}}</h2>
   <button pButton (click)="verificar()" class="p-button-lg" label="Verificar"></button>
  </div>
  <div [hidden]="!ocultarVerificar">
    <button pButton  (click)="NuevoJuego()"  class="p-button-lg" label="Nuevo"></button>
  </div>





</form>
<div id="snackbar">{{Mensajes}}</div>
